body{
background-image:url("./background.jpg");
background-repeat: no-repeat;
background-size: 200vw 200vh;
}
.box1{
    border: 1px solid white;
    width: 500px;
    height: 1200px;
    margin: 30px 510px;
    background-color:antiquewhite;
    padding: 25px;
}
h1{
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:darkred;
}
.box2{
     border: 1px solid white;
     width: 480px;
     height: 100px;
     background-color: rgb(221, 221, 250);
     padding: 10px;
}
h3{
    margin: auto;
    padding-top: 1px;
    text-align:left;
    color: brown;
}
#receipe{
    text-align: left;
    color:chocolate;
}
#inst{
    color: chocolate;
}
h2{
    color: chocolate;
}
